.overflow {
	background-color: #609ab8;
	height: 30rem;
	width: 100rem;
	padding: 5rem;
	overflow-y: scroll;
}

.add_products {
	width: 50%;
}

.btn-small {
	padding: .5rem 1rem;
	font-size: inherit;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
}

.flexbox-item {
	width: 23.33%;
	margin: 2.5% 5%;
}

.image_preview {
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 600px) {
	.flexbox-item {
		width: 100%;
	}
}
