/**
 * ===================================
 * Media Query Manager 
 * ===================================
 *
 * 0 - 600px:       Phone
 * 600 - 900px:     Tablet portrait
 * 900 - 1200px:    Tablet landscape
 * [1200 - 1800]:   normal styles apply
 * 1800px + :       Big desktop
 */
/**
 * =================================== 
 * $device argument choices
 * ===================================  
 * - phone
 * - tab-portrait
 * - tab-landscape
 * - big-desktop
 * 
 * side note: 1em = 16px
 */
/* Animation for the main heading */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Animation for the sub heading */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@media (max-width: 37.5em) {
  html {
    font-size: 11px; } }

@media (max-width: 56.25em) {
  html {
    font-size: 12px; } }

@media (max-width: 75em) {
  html {
    font-size: 13px; } }

@media (min-width: 112.5em) {
  html {
    font-size: 100px; } }

body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 25px;
    animation: moveInLeft 1s ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 9.6px;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.u-padding-4-corners {
  padding: 2rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.btn {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 2px; }
  .btn_green {
    background-color: #009e60;
    color: #fff; }

.form_group:not(:last-child) {
  margin-bottom: 1rem; }

.form_input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  width: 90%;
  display: block; }
  .form_input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a; }
  .form_input:focus:invalid {
    border-bottom: 3px solid #ff4500; }
  .form_input::-webkit-input-placeholder {
    color: #777777d0; }

.form_label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1.5rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.footer {
  height: 10vh;
  background-color: #eee;
  color: #808080c5; }
  .footer::after {
    content: '';
    display: table;
    clear: both; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.911), rgba(40, 180, 133, 0.863)), url("../images/image_1.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header .logo-box {
    position: absolute;
    top: 30px;
    left: 30px; }
  .header .logo {
    height: 65px; }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-login {
  height: 100vh;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("../images/image_2.jpg");
  background-size: cover; }
  .section-login .login-form {
    padding: 2rem;
    width: 50%; }
